@import "tailwindcss";


::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.hide-scrollbar {
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}